* {
	padding: 0;
	margin: 0;
}
html, body {
	height: 100%;
}
.layout  {
	display: table;
}
.column1 {
	display: table-column;
	width: 20%;
	background-color: grey;
}
.column2 {
	display: table-column;
	width: 80%;
}
.navigation-bar {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	display: table-row;
}
.logo {
	border: 1px solid black;
	padding: 10px;
	height: 100%;
	box-sizing: border-box;
	margin: 5px;
	display: table-cell;
}
.headline {
	border: 1px solid black;
	padding: 10px;
	box-sizing: border-box;
	margin: 5px;
	box-shadow: 0 0 10px;
	display: table-cell;
}
.content-row {
	height: 90%;
	box-sizing: border-box;
	padding: 10px;
	width: 100%;
	display: table-row;
}
.content-panel {
	border: 1px solid black;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	margin: 5px;
	display: table-cell;
}
li.best {
	list-style-type: disc;
}
li {
	list-style-type: square;
}
ul {
	margin-left: 20px;
}
li:hover {
	color: grey;
}
.content {
	border: 1px solid black;
	padding: 10px;
	box-sizing: border-box;
	margin: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	display: table-cell;
}
p {
	text-indent: 15px;
}
.description {
	border: 1px solid black;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
}
.movie-description {
	display: table-row;
}
.movie-text-description {
	display: table-cell;
	vertical-align: top;
}
.image {
	width: 200px;
}
.movie-image {
	display: table-cell;
}